
<h1 class = "Info">About me</h1>    

<div class ="group"> 
	<h2 class="name">Faith Oladele</h2>
	 <section class="image">  
	   </section>
	   	<aside>
	   		<h2 class="more">Basic Information</h2>
	   		<p>My name is Faith, I'm an african, Nigerian to be specific. I am in the Air force
	   		Reserves, and I also work for JC Penny Shared Services. I love to read, not my school books
	   		of course, I mean who does that? But then I study regardless. I read a lot of historical fictions and love to learn different 
	   		cultures and languages. I also attend the U of U and I'm in the school of computing. </p>
	   	</aside>
 </div>